<h1>Application</h1>
{{link-to 'HOME' 'index'}}
{{link-to 'JOIN US!' 'join_us'}}
{{link-to 'THE PARTY' 'the_party'}}
{{link-to 'STUFF TO DO' 'stuff_to_do'}}
{{link-to 'LOGISTICS' 'logistics'}}
{{link-to 'RSVP' 'rsvp'}}
{{outlet}}
