<div class='row'>
  <h1>Application</h1>
</div>

<div id='main' class='row'>
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class='left-nav'>
        <li>{{link-to 'HOME' 'index'}}</li>
      </ul>
      <ul class='center-nav'>
        <li>{{link-to 'JOIN US!' 'join_us'}}</li>
        <li>{{link-to 'THE PARTY' 'the_party'}}</li>
        <li>{{link-to 'STUFF TO DO' 'stuff_to_do'}}</li>
        <li>{{link-to 'LOGISTICS' 'logistics'}}</li>
      </ul>
      <ul class='right'>
        <li>{{link-to 'RSVP' 'rsvp'}}</li>
      </ul>
    </section>
  </nav>
{{outlet}}
</div>

