<div id='rsvp-main'>
  <h1 class='page-heading'>RSVP</h1>
  <div class='row'>
    <div id='left-column' class ='large-8 columns'>
      <div class='row'>
        <div class='large-6 columns'>
          <h5>Group name</h5>
          {{input placeholder='Your group name as it appears on your invitation' value=liveQuery action=liveSearch on=keyPress}}
          {{#if foundGroups}}
            {{#unless groupSelected}}
              <div class='group-search-box'>
                {{#each group in foundGroups}}
                    <a {{action 'selectGroup' group}}>
                      <div class='group-search-result'>
                        {{group.name}}
                      </div>
                    </a>
                {{/each}}
              </div>
            {{/unless}}
          {{/if}}
        </div>
      </div>

      <div class='row'>
        <div class='large-12 guest-results'>
          {{#if foundGuests}}
          <div class='large-6 columns'>
              <h5>Group email</h5>
              {{input placeholder='Contact email for your group' value=group.email }}
          </div>
              <table class='guest-table'>
                <thead>
                  <tr>
                    <td>Guest</td>
                    <td>RSVP</td>
                    <td>Length of stay</td>
                  </tr>
                </thead>
                <tbody>
                  {{#each guest in foundGuests}}
                    <tr>
                      <td>{{guest.name}}</td>
                      <td>{{view Ember.Select class='rsvp' content=rsvpOptions value=guest.rsvpStatus}}</td>
                      <td>{{view Ember.Select class='duration' content=visitDurationOptions value=guest.visitDuration}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class='row rsvp-row'>
                <div class='large-3 columns'>
                  <button class='rsvp-button' {{action 'submitRSVP'}}>RSVP</button>
                </div>
                <div class='large-9 columns rsvp-text'>
                  {{#if rsvpSubmitted}}
                    <h3>Thanks for RSVPing!</h3>
                    <h6>Feel free to keep looking around!</h6>
                  {{/if}}
                </div>
              </div>
            {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
