<div id='rsvp-main'>
  <h1 class='page-heading'>RSVP</h1>
  <div class='row'>
    <div class='large-4 columns'>
      <h5>Group name</h5>
      {{input placeholder='You group name as it appears on your invitation' value=liveQuery action=liveSearch on=keyPress}}
    </div>
  </div>
  <div class='row'>
    <div id='left-column' class ='large-4 columns'>
     {{#if foundGroups}}
       {{#unless groupSelected}}
         {{#each group in foundGroups}}
             <a {{action 'selectGroup' group}}>
               <div class='group-search-result'>
                 {{group.name}}
               </div>
             </a>
         {{/each}}
       {{/unless}}
     {{/if}}

    </div>
    <div id='right-column' class ='large-8 columns'>
      <div>
        {{#if foundGuests}}
          {{#each guest in foundGuests}}
             <h3>{{guest.name}}</h3>
          {{/each}}
          <button {{action 'saveRSVP'}}>RSVP</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
